#intro {
	height: 100vh;
	width: 100%;
	margin: auto;
	background: url('../static/img/splash/splash_img.jpg') no-repeat center center fixed; // 1920x1080
	background-size: cover;
	display: table;
}
#intro-inner {
	display: table-cell;
}
