.centered-modal .modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media(max-width: 991px) {
    min-height: calc(100vh - 20px);
  }
}
.modal-content {
  border: none;
  box-shadow: 0 0 50px -10px #222;
}

.login-modal .modal-header,
.login-modal .modal-footer,
.login-modal .modal-body {
  // background-color: $modal-bg;
  background: $modal-bg url('../static/img/sandpaper.png');
  border: none;
}
.modal-brand-tagline {
  opacity: .5;
  font-weight: normal;
  font-size: 1.1rem;
}
.login-modal button.close {
  position: absolute;
  top: .5rem;
  right: .75rem;
}

.social-login {
  color: white;
}
.social-login div {
  cursor: pointer;
}
.social-login .fb {
  background-color: $facebook;
}
.social-login .tw {
  background-color: $twitter;
}
.social-login .gg {
  background-color: $google;
}
.social-login .fb:hover,
.social-login .fb:focus, {
  background-color: darken($facebook, 10%);
}
.social-login .tw:hover,
.social-login .tw:focus, {
  background-color: darken($twitter, 10%);
}
.social-login .gg:hover,
.social-login .gg:focus, {
  background-color: darken($google, 10%);
}

.or p {
  opacity: .5;
  font-size: .75rem;
}
