/***************************************************/
	/* image path: ../static/img */
	/* font path: ../static/fonts */
/***************************************************/

.fatnav {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	transition: all 0.6s ease;
	box-shadow: none !important;
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(125,125,125,0) 100%) !important;
}
.fatnav.bg-inverse {
	background-color: transparent !important;
}
nav.fixed-top {
	box-shadow: 0px 2px 10px -3px rgba(0,0,0,1);
}
.slimnav,
.slimnav .navbar-brand,
.slimnav .navbar-brand img {
	transition: all 0.6s ease;
}
.fatnav.navbar,
.slimnav.navbar {
	padding-left: 1.5rem;
}
.navbar-brand {
	font-size: 2rem;
	line-height: 1;
	transition: all 0.6s ease;
	text-shadow: 1px 1px 2px #222;
}
.navbar-brand img {
	margin-right: 0.7rem;
	margin-top: -.3rem;
	height: 2rem;
	width: 2rem;
	transition: all 0.6s ease;
	-ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#222')";
	filter: drop-shadow(1px 1px 2px #222);
}
ul.navbar-nav {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.7rem;
}
.bg-inverse {
	background-color: rgba($themedark, 1) !important;
}
.navbar-toggler {
	border: 1.5px solid hsla(0,0%,100%,.5) !important;
	border-radius: 3px;
}
.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
	background-color: hsla(0,0%,100%,0.2);
}

#collapse-nav-head {
	display: none;
	color: hsla(0,0%,100%,0.6);
	background-color: $themelight;
}
#collapse-nav-title {
	font-family: 'Londrina';
	font-size: 2rem;
	padding-left: 0.5rem;
}
#collapse-nav-head button {
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	border-radius: 3px;
	padding: 0 .5rem 0 .5rem !important;
	background-color: $themedark;
	border-color: transparent;

	color: hsla(0,0%,100%,0.6);
}
#collapse-nav-head button:hover {
	background-color: hsla(0,0%,100%,0.3);
	border-color: hsla(0,0%,100%,0.3);
	color: $themedark;
}
#tale, #spinners {
	font-family: 'Londrina';
}
#tale {
	color: $brand-part-1;
}
#spinners {
	color: $brand-part-2;
}
@media (min-width: 992px) {
	.navbar-toggleable-md .navbar-nav .nav-link {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.nav-item.show,
	.nav-item:hover,
	.nav-item:active,
	.nav-item:focus {
		padding-top: 1rem;
	  padding-bottom: 1rem;
	  margin-top: -1rem;
	  margin-bottom: -1rem;
	}
}
.nav-item:hover {
	background-color: lighten($themedarker, 20%);
}
.nav-item.show,
.nav-item:active,
.nav-item:focus {
	background-color: $themedarker;
}
.dropdown-menu {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	background-color: $themedarker;
}
.dropdown-header,
.dropdown-item {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.7rem;
	color: hsla(0,0%,100%,.5);
	padding-top: .75rem;
	padding-bottom: .75rem;
}
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
	background-color: hsla(0,0%,100%,.5);
}
.dropdown-header {
	color: hsla(0,0%,100%,.8);
}
.disabled.dropdown-item {
	color: hsla(0,0%,100%,.3);
}
.dropdown-divider {
	background-color: hsla(0,100%,0%,.5);
	margin: 0;
}

/*----------------------------------------------------------------------------*/
/* NAVBAR IN MOBILE VIEW                                                      */
/*----------------------------------------------------------------------------*/
@media (max-width: 991px) {
	#collapse-nav-head {
		display: flex;
	}
  .navbar-collapse {
		box-shadow: 0px 0px 50px 0px hsla(0,50%,0%,.65);
		background-color: $themedark;
    position: absolute;
    top: 0;
		right: 0rem;
    padding-top: 0;
		padding-bottom: 1rem;
		padding-left: 0rem;
		padding-right: 0rem;
    width: 15rem;
		height: 100vh;
  }
	.navbar-collapse.collapsing {
		right: -15rem;
		transition: right .3s ease;
		height: 100vh !important;
	}
  .navbar-collapse.show {
		right: 0;
		transition: right 0.3s ease-in;
  }
	.nav-item {
		border-top: 1px solid hsla(0,0%,100%,0.2);
		border-bottom: 1.5px solid hsla(0,0%,100%,0);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
		padding-left: 1.5rem;
	}
	.nav-item:last-child {
		border-bottom: none;
	}
	.nav-item:hover {
		background-color: hsla(0,0%,100%,.1);
	}
	.nav-item.dropdown.show:hover {
		background-color: $themedarker;
	}
	.show .dropdown-menu {
		border-bottom: 0;
		margin-left: -1.5rem;
	}
	.dropdown-item {
		padding-left: 2.5rem;
	}
}
/*----------------------------------------------------------------------------*/

#intro {
	height: 100vh;
	width: 100%;
	margin: auto;
	background: url('../static/img/splash/splash-image-1.jpg') no-repeat center center; // 1920x1080
	background-size: cover;
	display: table;
}
#intro-inner {
	display: table-cell;
}
