
.lfs {
	color: $modal-text;
	margin-bottom: 1.5rem;
	position: relative;
}
.lfs .labelicon {
	position: absolute;
	top: .4rem;
	font-size: 1.5rem;
	transition: color .2s;
}
.pwdicon {
	font-size: 1.5rem;
	position: absolute;
	top: .4rem;
	right: 0;
	cursor: pointer;
	&.fa-eye-slash {
		opacity: .6;
	}
}
.lfs-error .pwdicon {
	right: 2.2rem;
}
.fa-exclamation-circle {
	font-size: 1.5rem;
	position: absolute;
	top: .4rem;
	right: 0;
	color: $validation-fail;
}

.lfs input {
	width: calc(100% - 2.2rem);
	margin-left: 2.2rem;
	margin-top: .2rem;
  margin-bottom: 1rem;
	padding: .2rem 0 .2rem 0;
  line-height: .5;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  outline: 0;
	height: 2.1rem;
	box-sizing: content-box;
	&.pwdinput {
		width: calc(100% - 4.4rem);
		padding-right: 2.2rem;
	}
}
.lfs-error input {
	width: calc(100% - 4.4rem);
	padding-right: 2.2rem;
	&.pwdinput {
		width: calc(100% - 6.6rem);
		padding-right: 4.4rem;
	}
}
.lfs input:focus {
	border-bottom-color: $input-active;
}
.lfs label {
	transition: .2s ease-out;
  opacity: .6;
  position: absolute;
  top: .5rem;
  left: 0;
  cursor: text;
	margin-left: 2.2rem;
}
.lfs label.ready {
	transform: translateY(-125%);
	opacity: 1;
	font-size: .9rem;
}
.lfs label.active {
	color: $input-active;
}
.lfs i.labelicon.active {
	color: $input-active;
}
