/***************************************************/
	/* image path: ../static/img */
	/* font path: ../static/fonts */
/***************************************************/

@import "./bootstrap/bootstrap.scss";

@font-face {
	font-family: 'Lemonada';
	src: url('../static/fonts/Lemonada/Lemonada-Regular.ttf');
	src: url('../static/fonts/Lemonada/Lemonada-Bold.ttf');
	src: url('../static/fonts/Lemonada/Lemonada-SemiBold.ttf');
	src: url('../static/fonts/Lemonada/Lemonada-Light.ttf');
}

@font-face {
	font-family: 'Londrina';
	src: url('../static/fonts/LondrinaSolid-Regular.woff');
}

.btn:focus {
	box-shadow: none;
}
a:focus {
	outline: none;
}

.fatnav {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	transition: all 0.6s ease;
	box-shadow: none !important;
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(125,125,125,0) 100%) !important;
}
.fatnav.bg-inverse {
	background-color: transparent !important;
}
nav.fixed-top {
	box-shadow: 0px 2px 10px -3px rgba(0,0,0,1);
}
.slimnav,
.slimnav .navbar-brand,
.slimnav .navbar-brand img {
	transition: all 0.6s ease;
}
.navbar-brand {
	font-size: 2rem;
	line-height: 1;
	transition: all 0.6s ease;
}
.navbar-brand img {
	margin-right: 0.7rem;
	margin-top: -.3rem;
	height: 2rem;
	width: 2rem;
	transition: all 0.6s ease;
}
ul.navbar-nav {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.7rem;
}
.navbar-brand {
	outline: none;
}
.bg-inverse {
	background-color: rgba($themedark, 0.9) !important;
}
.navbar-toggler {
	border: 1.5px solid hsla(0,0%,100%,.5) !important;
	border-radius: 3px;
}
.navbar-toggler:hover,
.navbar-toggler:active,
.navbar-toggler:focus {
	background-color: hsla(0,0%,100%,0.2);
	outline: none;
}

#collapse-nav-head {
	display: none;
	color: hsla(0,0%,100%,0.6);
	background-color: $themelight;
}
#collapse-nav-title {
	font-family: 'Londrina';
	font-size: 2rem;
	padding-left: 0.5rem;
}
#collapse-nav-head button {
	font-size: 2rem;
	height: 3rem;
	width: 3rem;
	border-radius: 3px;
	padding: 0 .5rem 0 .5rem !important;
	background-color: $themedark;
	border-color: hsla(0,0%,100%,0.6);
	color: hsla(0,0%,100%,0.6);
}
#collapse-nav-head button:hover {
	background-color: hsla(0,0%,100%,0.3);
	border-color: hsla(0,0%,100%,0.3);
	color: $themedark;
}
#tale, #spinners {
	font-family: 'Londrina';
}
#tale {
	color: $brand-tale;
}
#spinners {
	color: $brand-spinners;
}
@media (min-width: 992px) {
	.navbar-toggleable-md .navbar-nav .nav-link {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.navbar-toggleable-md .navbar-nav .nav-item:last-child .nav-link {
		padding-right: 0.5rem;
	}
}

/*----------------------------------------------------------------------------*/
/* NAVBAR IN MOBILE VIEW                                                      */
/*----------------------------------------------------------------------------*/
@media (max-width: 991px) {
	.collapsing #collapse-nav-head,
	#collapse-nav-head.shown {
		display: flex;
	}
  .navbar-collapse {
		background-color: $themedark;
    position: absolute;
    top: 0;
		right: 0rem;
    padding-top: 0;
		padding-bottom: 1rem;
		padding-left: 0rem;
		padding-right: 0rem;
    width: 15rem;
		height: 100vh;
  }
	.navbar-collapse.collapsing {
		right: -15rem;
		transition: right .3s ease;
		height: 100vh !important;
	}
  .navbar-collapse.show {
		right: 0;
		transition: right 0.3s ease-in;
  }
	.nav-item {
		border-top: 1px solid hsla(0,0%,100%,0.3);
		border-bottom: 1.5px solid hsla(0,0%,100%,0);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
		padding-left: 1.5rem;
	}
	.nav-item:first-child {
		border-top: none;
	}
	.nav-item:last-child {
		border-bottom: none;
	}
	.nav-item:hover {
		background-color: hsla(0,0%,100%,.1);
	}
}
/*----------------------------------------------------------------------------*/

#intro {
	height: 100vh;
	width: 100%;
	margin: auto;
	background: url('../static/img/splash/splash-image-1.jpg') no-repeat center center; // 1920x1080
	background-size: cover;
	display: table;
}
#intro-inner {
	display: table-cell;
}

testing {
	display: flex;
}
